{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Магазин</h1>
                <br>
                    Добро пожаловать в интернет-магазин Лабораторной работы №60! Шел 2 месяц Django.
                    <b>Бесплатная</b> доставка по городу Алматы.<br>
                 Скидки: на товары предыдущих лабораторных и домашних работ до -70%. До -20% новым покупателям.<br>
                <b>Проверяющему строгому преподавателю скидка 100%.</b>
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}


