{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-lg-4 col-md-8 mb-4">
                    <div class="card h-200">
                        <a href="#">
                            <img class="card-img-top"
                                 src="{{ product.image.url }}"
                                 alt="">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">{{ product.name }}</a>
                            </h4>
                            <h5>{{ product.price }} тенге</h5>
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <a href="{% url 'products:index' %}">Вернуться</a>
                        <a href="{% url 'product_update' product.id %}">Изменить</a>
                    </div>
                </div>
{% endblock %}